/node_modules/*
/.vscode/*
/.idea/*
package-lock.json
Project2/map.html
Project2/Data/USA_Rivers_and_Streams.geojson
Project2/map.html
Project2/Data/ecoregions.geojson
Project2/Data/mtbs_fire_locations.geojson
Project2/Data/us-states_2.geojson
Project2/geodata.html
Project2/Data/ufogeo1.csv
Project2/map.html
Project2/Data/fires_1985.csv
Project2/Data/fires_2015.csv
Project2/Data/us-ag-productivity-2004.csv
Project2/scratchpad.html
Project2/Location_History/*
Project3/data/cities.csv
Project3/data/colormap.txt
Project3/data/countries.geojson
Project3/data/countries2.geojson
Project3/data/countries3.geojson
Project3/data/elevations.tif
Project3/data/europe.png
Project3/data/europe.png.aux.xml
Project3/data/geo_earth.json
Project3/data/hillshade-color.tif
Project3/data/hillshade-cutout.tif
Project3/data/hillshade-projected.tif
Project3/data/hillshade-projected.tif.aux.xml
Project3/data/north_america.geojson
Project3/data/world_countries.geojson
Project3/colormaps.txt
Project3/static/R-4.2.1-win.exe
Project3/data/sst_anom_04_2021.tif
Project3/data/sst_anom_04_2022.tif
Project3/data/sst_anom_2021_2022_new.TIFF
D3_Practice/networks/data/power_grid_westernus.json
D3_Practice/networks/data/power.gml
D3_Practice/networks/data/as-22july06.gml
Project4/static/img/*
node_modules
*.pyc