.donation-form {display: grid;grid-template-columns: 1fr 1fr;grid-gap: 5px;}
.registration-form {display: grid;grid-template-columns: 1fr 1fr;grid-gap: 5px;}
.btn-gb {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color:#000000;text-decoration:none;
  font-size: 20px;
  background: #E57A3E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-gb:hover {
  background: #80b7cc;
  text-decoration: none;
}
.btn-gb a, .btn-gb a:visited {
     color: #FFFFFF;
}